<apex:page standardController="Contract_Agreement__c" extensions="ContractAgreementPrintAsPDFController" renderAs="pdf" applyBodyTag="false">
 <head>
 <style type="text/css">
 body { font-family: Arial Unicode MS;
        font-size: 11;
        word-wrap: break-word; }
,h1 {   justify-content: center;
        text-align: center; }
 </style>
 </head>
 <div style="right:-25%;top:0;position:absolute;"> <!-- CentrePoint logo in top-right -->
    <apex:image url="{!$Resource.CentrePointLogo}" width="50%"/>
 </div>
 <div>
 <br/>
 <br/>
 <h1 align="center">{!Title}</h1>
 </div>
 <div style="width:100%;"> <!-- Output Contact_Agreement.Contract_Text__c with proper formatting -->
    <apex:outputText value="{!HTMLENCODE(Contract_Agreement__c.Contract_Text__c)}" style="white-space:pre-wrap;word-wrap:break-word;" escape="false" />
 </div>
 <div style="page-break-after:always;"/>

<apex:panelGrid columns="2" border="0" cellspacing="0" cellPadding="5" width="100%"> <!-- Signature and name section -->
  <apex:outputText value="{!Contract_Agreement__c.Staff_Members_Name__c}" />
  <apex:outputText value="{!Contract_Agreement__c.Young_Persons_Name__c}" />
  <apex:image width="100%" url="{!IF(SMSigUrl == '',$Resource.SigNotFound, SMSigUrl)}"/>
  <apex:image width="100%" url="{!IF(YPSigUrl == '',$Resource.SigNotFound, YPSigUrl)}"/>
  <apex:outputText value="{0, date, MMMM d','  yyyy}">
    <apex:param value="{!Contract_Agreement__c.Date_Staff_Member_Signed__c}" /> 
  </apex:outputText>
  <apex:outputText value="{0, date, MMMM d','  yyyy}">
    <apex:param value="{!Contract_Agreement__c.Date_Young_Person_Signed__c}" /> 
  </apex:outputText>
 </apex:panelGrid>
</apex:page>