<apex:page standardController="Incidents__c">
<p style="margin-bottom: .0001pt;"><strong><span style="font-size: 10.0pt; line-height: 100%; font-family: 'Verdana','sans-serif'; color: #d14414;">***PLEASE ENSURE YOU HAVE CREATED A 'CLIENTS ADDED TO INCIDENTS' RECORD WHERE APPLICABLE***</span></strong></p>
</apex:page>