<apex:page controller="KyperaPropertyStructureDisplayController" 
    cache="false"
    title="Properties on Castleton"
    lightningStylesheets="true">
<head> 
    <style>
        .KyperaTransactions {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            width: 100%;
            border-collapse: collapse;
        }
        
        .KyperaTransactions td, .KyperaTransactions th {
            font-size: 1em;
            border: 1px solid rgb(137, 207, 207);
            padding: 3px 7px 2px 7px;
        }
        
        .KyperaTransactions th {
            font-size: 1em;
            text-align: left;
            padding-top: 5px;
            padding-bottom: 4px;
            background-color: rgb(42, 171, 171);
            color: #ffffff;
        }
        
        .KyperaTransactions tr.alt td {
            color: #000000;
            background-color: rgb(233, 240, 243);
        }
        .kyperaTransactionsCount {
            font-weight: bold;
        }
    </style>
    <script>
    
    // kypera results object
    function kyperaResults() {
        kyperaSchemes = '';
        kyperaDataItems = '';
    }
        
    // function to render the data into html
    function renderKyperaData (kyperaResultObject) {
        var response = '{!response}';
        console.log('response.length = ' + response.length);
        var xmlDoc;
        var parser;
        if (window.DOMParser) {
          parser=new DOMParser();
          xmlDoc=parser.parseFromString('{!response}',"text/xml");
        } else { // Internet Explorer
          xmlDoc=new ActiveXObject("Microsoft.XMLDOM");
          xmlDoc.async=false;
          xmlDoc.loadXML('{!response}');
        }     
        var schemeList = '<table class="KyperaTransactions"><tr><th>Scheme Name</th><th>Scheme Reference</th></tr>';
        var schemeRef = '', unitReference = '';
        var bigTable = '', tableS = '<table class="KyperaTransactions">', tableE = '</table>', tdB = '<td>', tdE = '</td>', trB = '<tr>', trE = '</tr>', thB = '<th>', thE = '</th>';
        var x=xmlDoc.getElementsByTagName("Scheme");  
        console.log(x);
        var y, z;
        var schemeRefElements, schemeNameElements;
        for (i=0;i<x.length;i++) { 
            schemeRef = '', unitReference = '';
            schemeRefElements = x[i].getElementsByTagName("SchemeReference")[0];
            if (typeof schemeRefElements !== 'undefined') {
                schemeRef = x[i].getElementsByTagName("SchemeReference")[0].childNodes[0].nodeValue;
                schemeList+= trB+tdB+'<a href=\'#'+schemeRef+'\'>'+x[i].getElementsByTagName("SchemeName")[0].childNodes[0].nodeValue +'</a>' +tdE;
                schemeList+= tdB+schemeRef+tdE+trE;    
            } 
            bigTable+='<br />';
            schemeNameElements = x[i].getElementsByTagName("SchemeName")[0]
            if (typeof schemeNameElements !== 'undefined') {
                bigTable+='<b>Scheme Reference: </b><a id=\''+schemeRef+'\'>'+schemeRef+'</a><br />';
                bigTable+='<b>Scheme Name: </b>'+x[i].getElementsByTagName("SchemeName")[0].childNodes[0].nodeValue+'<br />';
            } 
            bigTable+=tableS;
            bigTable+=trB+thB+'Block Reference' + thE + thB +'Block Name' + thE + thB +'Unit Reference' + thE + thB +'Unit Name'+thE+trE;
            bigTable+='<br />';
            y = x[i].getElementsByTagName("Block");
            for (j=0; j<y.length;j++) {
                bigTable+=trB;
                z = y[j].getElementsByTagName("Unit");
                for (k=0; k<z.length;k++) {
                    unitReference = '';
                    unitReference = z[k].getElementsByTagName("UnitReference")[0].childNodes[0].nodeValue;
                    bigTable+=tdB;
                    try {
                        bigTable+=y[j].getElementsByTagName("BlockReference")[0].childNodes[0].nodeValue;
                    } catch(Err) {
                        console.log(Err.message);
                    }
                    bigTable+=tdE+tdB;
                    try {
                        bigTable+=y[j].getElementsByTagName("BlockName")[0].childNodes[0].nodeValue;
                    } catch(Err) {
                        console.log(Err.message);
                    } 
                    bigTable+=tdE+tdB;     
                    try {
                        bigTable+=unitReference + '<a id=\'' + unitReference + '\'/>';
                    } catch(Err) {
                        console.log(Err.message);
                    }
                    bigTable+=tdB;
                    try {                         
                        bigTable+=z[k].getElementsByTagName("UnitName")[0].childNodes[0].nodeValue;                
                    } catch(Err) {
                        console.log(Err.message);
                    }
                    bigTable+=tdE;
                    bigTable+=trE;
                }
            } 
            bigTable+=tableE+'<br /><br />';
        }
        schemeList+='</table>';
        //document.write('<br />'+schemeList);
        //document.write('<br />'+bigTable);
        kyperaResultObject.kyperaSchemes = schemeList;
        kyperaResultObject.kyperaDataItems = bigTable;
    }
    </script>
</head>
<body>
    <h1 style="font-size: 2.0em;">Castleton Properties</h1>
    <script>
        renderKyperaData(kyperaResults);
        document.write('<br />'+kyperaResults.kyperaSchemes);
        document.write('<br />'+kyperaResults.kyperaDataItems);    
    </script>
</body>
</apex:page>