<apex:page lightningStylesheets="true" standardController="Housing_Assessment__c" extensions="RelatedIndividualRisksController">
<style>
    .fewerMore { display: none;}
</style>
<apex:form >
<!--  <apex:pageMessages/> -->
<!-- <apex:detail relatedList="true"></apex:detail> -->
<apex:pageblock id="CustomList" title="Risks of Harm to Others">
   <apex:pageBlockTable value="{!irsToOthers}" var="i" rendered="{!NOT(ISNULL(irsToOthers))}">
        <apex:column value="{!i.Action_Plan_Area__c}"/>
        <apex:column value="{!i.Identified_Risk_and_Evidence__c}"/>
        <apex:column value="{!i.Protective_Factors__c}"/>
        <apex:column value="{!i.Level_of_Risk__c}"/>
   </apex:pageBlockTable>
   <apex:outputLabel value="No records to display" rendered="{!(ISNULL(irsToOthers))}" styleClass="noRowsHeader"></apex:outputLabel>
</apex:pageblock>
</apex:form>
</apex:page>