<apex:page standardController="Contact" >
<apex:form >
<h1 style="text-align:center;">
<h2 style="font: normal 12px algerian, sans-serif;font-size:30px;color:red;">R</h2>
<h2 style="font: normal 12px goudy stout, sans-serif;font-size:30px;color:orange;">O</h2>
<h2 style="font: normal 12px algerian, sans-serif;font-size:30px;color:yellow;">Y</h2>
<h2 style="font: normal 12px goudy stout, sans-serif;font-size:30px;color:green;">G</h2>
<h2 style="font: normal 12px algerian, sans-serif;font-size:30px;color:blue;">B</h2>
<h2 style="font: normal 12px goudy stout, sans-serif;font-size:30px;color:indigo;">I</h2>
<h2 style="font: normal 12px algerian, sans-serif;font-size:30px;color:violet;">V</h2>
</h1>
</apex:form>
</apex:page>